.logo {
    height: 40px;
}
#header-1 {
    width:50%;
}
#header-2 {
    width:50%;
    margin:1px 0;
}
.main-title {
    font-size: 1.5em;
    margin: 2px;
}
.subtitle {
    font-size:1em;
    margin: 2px;
}

body,html {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

h3 {
    margin: 5px 0;
}

#filter-bar {
    background-color: #ed1c40;
    color:#ffffff;
    padding: 10px;
}

#map {

  height: 500px;/*!!!!need to alter this to be responsive!!!!*/
  margin-bottom: 15px;
  border: 2px solid #fff;
}

#site-img {
    width: 100px !important;
}

#broth-input {
    height: 26px;
    color: #000000;
}

header {
    background-color: #23282d;
    color: #dfe0dd;
}

footer {
    background-color: #23282d;
}

p {
    border-bottom: 1px dotted #E0E0E0;
    font-style: italic;
}

.social-media {
    text-align: right;
    margin: 10px;
}

.social-media a {
    color: #cea4b7;
    margin: 10px;
}

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

input {
    width: 90px;
    color:#000000;
}